cython
setuptools
numpy
opencv_python
scikit_image
asyncio
gitpython
pycocotools
ujson
pillow
tqdm
matplotlib
scipy
torch
torchvision
PyYAML
seaborn
pytorch_lightning
ipywidgets
gevent
termcolor
scikit-learn
ultralytics
albumentations

# upscaler @ git+https://github.com/moujikov/ria-com_upscaler.git
craft_text_detector @ git+https://github.com/moujikov/ria-com_craft-text-detector.git
PyTurboJPEG @ git+https://github.com/lilohuang/PyTurboJPEG.git
modelhub_client @ git+https://github.com/moujikov/ria-com_modelhub-client.git
